.giphy {
  display: grid;
  gap: 1rem;
  background: inherit;

  .search {
    margin-left: 2rem;
  }

  .sectionHead {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    .logo {
      width: 8rem;
      svg {
        width: 95%;
        height: 50px;
      }
    }
  }
  .imgAtxt {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, 20rem);
    justify-content: space-evenly;
  }

  .select {
    margin: auto 0.8rem;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    justify-content: right;
    gap: 0.5rem;
    margin-top: -3.2rem;

    @media (max-width: 620px) {
      justify-content: center;
      margin-top: auto;
    }

    p {
      text-transform: uppercase;
    }
    select {
      font-size: 1rem;
      cursor: pointer;
    }
  }
}
